---
import Layout from "../../layouts/Layout.astro";
import Player from "../../components/Player.astro";
---

<Layout title="The Fifth Experiment">\
    <main class="prose mx-auto py-15">
        <h1>Experiment 4</h1>
        <Player />
    </main>
  </Layout> 

  