---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Logickal's Generative Astro Tone Playground.">
	<main class="prose mx-auto">
		<h1>Logickal's Generative Astro/Tone Playground</h1>
		<p>Documenting Logickal's experiments with browser-based generative browser-based music.</p>

		<Card 
			title="Tone Experiment 1"
			body="The first experiement with Tone.js. A simple two-part random piece in a minor key."
			href="/experiment-1"
		/>

		<Card 
		title="Tone Experiment 2"
		body="The second experiement with Tone.js. Builds on the first experiment with more determinitive melody, plus FM synthesis and two delay lines."
		href="/experiment-2"
	/>
	</main>
</Layout>

<style>

</style>
