---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Logickal's Generative Astro Tone Playground.">
	<main class="prose">
		<div class="hero bg-base-200">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h1 class="mb-5 text-5xl font-bold">
						Logickal's Generative Astro/Tone Playground
					</h1>
					<p class="mb-5">
						Documenting Logickal's experiments with browser-based generative music.
					</p>
				</div>
			</div>

		</div>
		<div class="mx-auto w-1/2">
			<Card 
			title="Tone Experiment 1"
			body="The first experiement with Tone.js. A simple two-part random piece in a minor key."
			href="/experiment-1"
		/>

		<Card 
		title="Tone Experiment 2"
		body="The second experiement with Tone.js. Builds on the first experiment with more determinitive melody, plus FM synthesis and two delay lines."
		href="/experiment-2"
		/>

		<Card 
		title="Tone Experiment 3"
		body="The third experiement with Tone.js. Beginning to play with sample playback using Tone.Player and two long ambient pieces to create new generative music."
		href="/experiment-3"
		/>
		<Card 
		title="Tone Experiment 3A"
		body="A variation of the third experiement with randomization plus a delay line for spice."
		href="/experiment-3a"
		/>
		<Card 
		title="Tone Experiment 4"
		body="The fourth experiment - similar in activity to the thrid, but attempting to use more modular code and different sample selection logic."
		href="/experiment-4"
		/>
		</div>
	</main>
</Layout>

<style>

</style>
