---
import Layout from "../../layouts/Layout.astro";
import Player from "../../components/Player.svelte";
import Experiment9 from './Experiment9.svelte';
---

<Layout title="Experiment 9">
    <main class="prose mx-auto py-15">
        <h1>Experiment 9: More Variety
        </h1>

        <p>
        </p>

      
        <Player client:load/>

        <Experiment9 client:load/>
    </main>
  </Layout> 

