---
---

<button id="playButton" class="btn btn-square">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 18V6l8 6-8 6Z"/>
      </svg>
</button>

<div>
    <p id="playingText">Click to start audio.</p>
</div>

<script>
    import { isPlaying } from '../store.js';
    let playingText = document.getElementById('playingText');

    function togglePlaying() {
        isPlaying.set(!isPlaying.value);
        console.log(isPlaying.value);
        playingText.textContent = isPlaying.value ? 'Playing...' : 'Click to start audio.';
    }

    document.getElementById('playButton').addEventListener('click', togglePlaying);
</script>